.navbar {
  background-color: rgb(132, 255, 108);
  flex: 1;
  border-radius: 15px;
  padding: 10px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: rgb(5, 42, 252);
}

a.active {
  color: rgb(225, 0, 255);
}
