.app-container {
  width: 1400px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.flex-wrap {
  display: flex;
  margin-top: 5px;
}

.content {
  background-color: rgb(230, 106, 255);
  flex: 4;
  border-radius: 15px;
  padding: 5px;
}
